<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFFurkZF-FKyfUXweGkc2y3ZbjvgsjK9k</string>
	<key>GCM_SENDER_ID</key>
	<string>352898809748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exampleApp.stepanek.ExampleApp</string>
	<key>PROJECT_ID</key>
	<string>exampleapp-49b6f</string>
	<key>STORAGE_BUCKET</key>
	<string>exampleapp-49b6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352898809748:ios:69b307060aa8e8dd125981</string>
</dict>
</plist>